/* Mobile first queries */
/* applies to ALL widths */
.header {
	padding: 30px 0 20px 0;
	background-image: url(../imgs/pexels-photo-196667.jpeg);
	background-size: cover;
}

.logo {
	font-weight: 700;
	color: rgba(77,102,123, 5.00);
	background-color: black;
	opacity: 0.5;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 10px;
	z-index: 100;
}

.nav {
	text-align: center;
}

.nav button {
	width: 48%;
	margin: auto;
}

.button {
	background-color: rgba(255,255,255,.5);
}

.button:hover {
	background-color: rgba(255,255,255,.3);
}

.action {
	text-align: center;
	padding-top: 37px;
}

.action h1 {
	margin: 0;
}

.action h2 {
	margin: 0 0 20px 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;

}

.shadow {
	font-size: 2.5rem;
	color: #000000;
	text-shadow: 0 0 5px #717D7E;
}



/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
 
}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {
	.header {
		padding: 40px 0 50px 0;
	}
	.logo {
		position: static;
		background-color: transparent;
		font-size: 2rem;
		line-height: 1;
	}
	.nav .button {
		width: auto;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4.2rem;
	}
	.shadow {
	font-size: 2.5rem;
	color: #FFFFFF;
	text-shadow: 0 0 5px #717D7E;
}
}

/* Larger than tablet */

/* applies to all widths 750px and greater */
@media (min-width: 750px) {
	.logo {
		font-size: 3rem;
		position: relative;
		top: 5px;
	}
}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {

}
